:host{
  width: 100%;
}
.weather_info{
    display: flex;
    /* grid-template-columns:repeat(2,auto); */
    /* justify-items: center; */
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
    display: grid;
    grid-template-areas: "temp icon" "feel desc";
    
  }

  .wrow{
    font-size: 1em;
    grid-template-areas: "temp feel icon desc";
    grid-auto-columns: 100px;
  }
 


  .wrow .labeled-data{
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
  }

  .temp-c {
    font-size: 4em;
    text-align: center;
    grid-area: temp;
  }

  .wrow .temp-c{
    font-size: 3em;
  }
 
  .feel {
    grid-area: feel;
  }
  .weather-desc {
    grid-area: desc;
    font-weight: lighter;
    font-size: 0.85em;
    text-align: center;
  }

  .wrow .weather-desc{
    font-size: 1.5em;
    font-weight: normal;
  }

  .icon-box{
    grid-area: icon;
    height: 5em;
    /* align-self: end; */
    justify-self: center;
  }

  .icon{
    height: 100%;
  }