<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="bi me-2" src="assets/logo.svg" width="40" height="32" role="img" aria-label="Bootstrap" />
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <!-- <li><a href="#" class="nav-link px-2 text-secondary">Meteo Wiki</a></li> -->
          <li><a [routerLink]="['/','weather','now']" [queryParamsHandling]="'preserve'" class="nav-link px-2 text-white">Courant</a></li>
          <li><a [routerLink]="['/','weather','days']" [queryParamsHandling]="'preserve'" class="nav-link px-2 text-white">Prochain jours</a></li>
          <!-- <li><a href="#" class="nav-link px-2 text-white">Prochaine heures</a></li> -->
          <!-- <li><a href="#" class="nav-link px-2 text-white">Astronomy</a></li> -->
        </ul>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="<!-- col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 -->">
          <div class="row align-items-center g-3">
            <div class="col">
              <input ngModel type="search" name="locations" class="form-control form-control-dark" placeholder="Recherche..." aria-label="Search">
            </div>
            <div class="col">
              <button class="btn btn-primary">Submit</button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </header>